*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --bg-color: #121212;
    --text-color: #fff;
    
}

html, body {
    overflow-x: clip;
  }


body {
    width: 100%;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.main-font {
    font-family: "Ubuntu", sans-serif;
}

.co-font {
    font-family: "Raleway", sans-serif;
}

.mid-font {
    font-family: "Ubuntu", sans-serif;
}

body.light-mode {
    --bg-color: white;
    --text-color: black;
}

#theme-icon {
    transition: transform 0.3s ease;
}

.card {
    z-index: -1;
}

.icon-btn {
    background: none;
    border: none;
    padding: 0;
    margin: 10px 10px;
    cursor: pointer;
    outline: none;
    font-size: 27px; 
    color: var(--text-color); 
    transition: color 0.3s ease;
}

.icon-btn:hover {
    background: none; /* No background on hover */
    color: none /* Optional: change icon color slightly on hover */
}


.navbar {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(50px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
}

.nav-link{
    position: relative;
    overflow: hidden;
}

.nav-link:hover {
    color: var(--text-color);
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: var(--text-color);
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.nav-link:hover::after {
    width: 100%;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* When light mode active (black icon) */
body.light-mode .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler{
    border-color: var(--text-color);
}


.btna {
    text-decoration: none;
    color: white
}

input:focus,
textarea:focus {
    outline: none;
    box-shadow: none;
}

.section-1,
.section-3,
#contact,
#faq {
    background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 39%, rgba(0, 212, 255, 1) 100%);
    color: white;
}



.section-2,
#resume,
.portfolio,
.mode {
    color: var(--text-color);
}

.banner {
    background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 39%, rgba(0, 212, 255, 1) 100%);
    color: white;
    font-weight: bold;

}

.circle {
    background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 39%, rgba(0, 212, 255, 1) 100%);
    color: white;
}

.typing-cursor {
    display: inline-block;
    animation: blink 0.7s steps(1) infinite;
    font-weight: bold;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}